################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Unzone/Unzone/Unzone/bin/Debug/netstandard2.0
